In [1]:
import re
import math
import pickle
import numpy as np
import pandas as pd

from sklearn.cross_validation import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, StandardScaler
from sklearn.metrics import mean_squared_log_error

from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.decomposition import NMF, LatentDirichletAllocation
from sklearn.datasets import fetch_20newsgroups

from keras import backend as K
from keras.preprocessing.text import Tokenizer, text_to_word_sequence
from keras.preprocessing.sequence import pad_sequences
from keras.layers import Input, Dropout, Dense, BatchNormalization, Activation, concatenate, GRU, Embedding, Flatten, BatchNormalization
from keras.models import Model
from keras.callbacks import ModelCheckpoint, Callback, EarlyStopping

/home/a416253190/anaconda3/lib/python3.5/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
Using TensorFlow backend.

In [2]:
train = pd.read_csv("/mnt/disks/~/clean.csv")
cloth = train[(train.cat1==554)|(train.cat1==934)]
print(cloth.shape)
cloth.head(3)

(758065, 13)

,name,item_condition_id,category_name,brand_name,price,shipping,item_description,cat1,cat2,cat3,cat4,cat5,target
0,mlb cincinnati reds t shirt size xl,3,Men/Tops/T-shirts,4786,10.0,1,no description yet,554,859,827,950,950,-0.369464
1,ava-viv blouse,1,Women/Tops & Blouses/Blouse,4180,10.0,1,adorable top with a hint of lace and a key hol...,934,860,104,950,950,-0.369464
2,24k gold plated rose,1,Women/Jewelry/Necklaces,4786,44.0,0,complete with certificate of authenticity,934,480,584,950,950,0.000978

In [3]:
#SCALE target variable
cloth["target"] = np.log(cloth.price+1)
target_scaler = MinMaxScaler(feature_range=(-1, 1))
cloth["target"] = target_scaler.fit_transform(cloth.target.reshape(-1,1))

/home/a416253190/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:4: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead

# TF-IDF
TF-IDF computes each word's contribution to a document

In [4]:
tfidf_item_des = TfidfVectorizer(max_df=0.95, min_df=2, max_features=100, stop_words='english')

tfidf_item_desc = tfidf_item_des.fit_transform(cloth['item_description'])

tfidf_item_des = TfidfVectorizer(max_df=0.95, min_df=2, max_features=100, stop_words='english')

tfidf_name = tfidf_item_des.fit_transform(cloth['name'])

In [5]:
from sklearn.decomposition import TruncatedSVD

svd = TruncatedSVD(n_components=20, random_state=42)
svd_tfidf = svd.fit_transform(tfidf_item_desc)

In [6]:
from sklearn.manifold import TSNE
svd_tfidf = svd_tfidf[:100000]
tsne_model = TSNE(n_components=2, verbose=1, random_state=123)
tsne_tfidf = tsne_model.fit_transform(svd_tfidf)

[t-SNE] Computing 91 nearest neighbors...
[t-SNE] Indexed 100000 samples in 0.347s...
[t-SNE] Computed neighbors for 100000 samples in 355.412s...
[t-SNE] Computed conditional probabilities for sample 1000 / 100000
[t-SNE] Computed conditional probabilities for sample 2000 / 100000
[t-SNE] Computed conditional probabilities for sample 3000 / 100000
[t-SNE] Computed conditional probabilities for sample 4000 / 100000
[t-SNE] Computed conditional probabilities for sample 5000 / 100000
[t-SNE] Computed conditional probabilities for sample 6000 / 100000
[t-SNE] Computed conditional probabilities for sample 7000 / 100000
[t-SNE] Computed conditional probabilities for sample 8000 / 100000
[t-SNE] Computed conditional probabilities for sample 9000 / 100000
[t-SNE] Computed conditional probabilities for sample 10000 / 100000
[t-SNE] Computed conditional probabilities for sample 11000 / 100000
[t-SNE] Computed conditional probabilities for sample 12000 / 100000
[t-SNE] Computed conditional probabilities for sample 13000 / 100000
[t-SNE] Computed conditional probabilities for sample 14000 / 100000
[t-SNE] Computed conditional probabilities for sample 15000 / 100000
[t-SNE] Computed conditional probabilities for sample 16000 / 100000
[t-SNE] Computed conditional probabilities for sample 17000 / 100000
[t-SNE] Computed conditional probabilities for sample 18000 / 100000
[t-SNE] Computed conditional probabilities for sample 19000 / 100000
[t-SNE] Computed conditional probabilities for sample 20000 / 100000
[t-SNE] Computed conditional probabilities for sample 21000 / 100000
[t-SNE] Computed conditional probabilities for sample 22000 / 100000
[t-SNE] Computed conditional probabilities for sample 23000 / 100000
[t-SNE] Computed conditional probabilities for sample 24000 / 100000
[t-SNE] Computed conditional probabilities for sample 25000 / 100000
[t-SNE] Computed conditional probabilities for sample 26000 / 100000
[t-SNE] Computed conditional probabilities for sample 27000 / 100000
[t-SNE] Computed conditional probabilities for sample 28000 / 100000
[t-SNE] Computed conditional probabilities for sample 29000 / 100000
[t-SNE] Computed conditional probabilities for sample 30000 / 100000
[t-SNE] Computed conditional probabilities for sample 31000 / 100000
[t-SNE] Computed conditional probabilities for sample 32000 / 100000
[t-SNE] Computed conditional probabilities for sample 33000 / 100000
[t-SNE] Computed conditional probabilities for sample 34000 / 100000
[t-SNE] Computed conditional probabilities for sample 35000 / 100000
[t-SNE] Computed conditional probabilities for sample 36000 / 100000
[t-SNE] Computed conditional probabilities for sample 37000 / 100000
[t-SNE] Computed conditional probabilities for sample 38000 / 100000
[t-SNE] Computed conditional probabilities for sample 39000 / 100000
[t-SNE] Computed conditional probabilities for sample 40000 / 100000
[t-SNE] Computed conditional probabilities for sample 41000 / 100000
[t-SNE] Computed conditional probabilities for sample 42000 / 100000
[t-SNE] Computed conditional probabilities for sample 43000 / 100000
[t-SNE] Computed conditional probabilities for sample 44000 / 100000
[t-SNE] Computed conditional probabilities for sample 45000 / 100000
[t-SNE] Computed conditional probabilities for sample 46000 / 100000
[t-SNE] Computed conditional probabilities for sample 47000 / 100000
[t-SNE] Computed conditional probabilities for sample 48000 / 100000
[t-SNE] Computed conditional probabilities for sample 49000 / 100000
[t-SNE] Computed conditional probabilities for sample 50000 / 100000
[t-SNE] Computed conditional probabilities for sample 51000 / 100000
[t-SNE] Computed conditional probabilities for sample 52000 / 100000
[t-SNE] Computed conditional probabilities for sample 53000 / 100000
[t-SNE] Computed conditional probabilities for sample 54000 / 100000
[t-SNE] Computed conditional probabilities for sample 55000 / 100000
[t-SNE] Computed conditional probabilities for sample 56000 / 100000
[t-SNE] Computed conditional probabilities for sample 57000 / 100000
[t-SNE] Computed conditional probabilities for sample 58000 / 100000
[t-SNE] Computed conditional probabilities for sample 59000 / 100000
[t-SNE] Computed conditional probabilities for sample 60000 / 100000
[t-SNE] Computed conditional probabilities for sample 61000 / 100000
[t-SNE] Computed conditional probabilities for sample 62000 / 100000
[t-SNE] Computed conditional probabilities for sample 63000 / 100000
[t-SNE] Computed conditional probabilities for sample 64000 / 100000
[t-SNE] Computed conditional probabilities for sample 65000 / 100000
[t-SNE] Computed conditional probabilities for sample 66000 / 100000
[t-SNE] Computed conditional probabilities for sample 67000 / 100000
[t-SNE] Computed conditional probabilities for sample 68000 / 100000
[t-SNE] Computed conditional probabilities for sample 69000 / 100000
[t-SNE] Computed conditional probabilities for sample 70000 / 100000
[t-SNE] Computed conditional probabilities for sample 71000 / 100000
[t-SNE] Computed conditional probabilities for sample 72000 / 100000
[t-SNE] Computed conditional probabilities for sample 73000 / 100000
[t-SNE] Computed conditional probabilities for sample 74000 / 100000
[t-SNE] Computed conditional probabilities for sample 75000 / 100000
[t-SNE] Computed conditional probabilities for sample 76000 / 100000
[t-SNE] Computed conditional probabilities for sample 77000 / 100000
[t-SNE] Computed conditional probabilities for sample 78000 / 100000
[t-SNE] Computed conditional probabilities for sample 79000 / 100000
[t-SNE] Computed conditional probabilities for sample 80000 / 100000
[t-SNE] Computed conditional probabilities for sample 81000 / 100000
[t-SNE] Computed conditional probabilities for sample 82000 / 100000
[t-SNE] Computed conditional probabilities for sample 83000 / 100000
[t-SNE] Computed conditional probabilities for sample 84000 / 100000
[t-SNE] Computed conditional probabilities for sample 85000 / 100000
[t-SNE] Computed conditional probabilities for sample 86000 / 100000
[t-SNE] Computed conditional probabilities for sample 87000 / 100000
[t-SNE] Computed conditional probabilities for sample 88000 / 100000
[t-SNE] Computed conditional probabilities for sample 89000 / 100000
[t-SNE] Computed conditional probabilities for sample 90000 / 100000
[t-SNE] Computed conditional probabilities for sample 91000 / 100000
[t-SNE] Computed conditional probabilities for sample 92000 / 100000
[t-SNE] Computed conditional probabilities for sample 93000 / 100000
[t-SNE] Computed conditional probabilities for sample 94000 / 100000
[t-SNE] Computed conditional probabilities for sample 95000 / 100000
[t-SNE] Computed conditional probabilities for sample 96000 / 100000
[t-SNE] Computed conditional probabilities for sample 97000 / 100000
[t-SNE] Computed conditional probabilities for sample 98000 / 100000
[t-SNE] Computed conditional probabilities for sample 99000 / 100000
[t-SNE] Computed conditional probabilities for sample 100000 / 100000
[t-SNE] Mean sigma: 0.000000
[t-SNE] KL divergence after 250 iterations with early exaggeration: 102.579460
[t-SNE] Error after 1000 iterations: 2.704660

In [24]:
cvectorizer = CountVectorizer(min_df=4,
                              max_features=10000,
                              tokenizer=text_to_word_sequence,
                              ngram_range=(1,2))
cvz = cvectorizer.fit_transform(cloth['item_description'])

In [25]:
lda_model = LatentDirichletAllocation(n_components=20,
                                      learning_method='online',
                                      max_iter=20,
                                      random_state=42)

X_topics = lda_model.fit_transform(tfidf_item_desc)
topic_summaries = []

topic_word = lda_model.components_  # get the topic words
vocab = cvectorizer.get_feature_names()

for i, topic_dist in enumerate(topic_word):
    topic_words = np.array(vocab)[np.argsort(topic_dist)][:-(10+1):-1]
    topic_summaries.append(' '.join(topic_words))
    print('Topic {}: {}'.format(i, ' | '.join(topic_words)))

Topic 0: 1 | 100 silk | 12mm | 100 authentic | 18k | 14 based | 18 | 14k yellow | 1 x | 1 black
Topic 1: 10 selling | 11 5 | 100 polyester | 10 11 | 100 uv | 14 gauge | 16 inches | 1 business | 18k | 14 based
Topic 2: 15 off | 1 large | 1 business | 1 rm | 14k gold | 18k | 1 blue | 14 based | 1 x | 16
Topic 3: 16 | 1 1 | 18 inches | 10k | 14 based | 100 uv | 10 worn | 0 | 1 business | 1 black
Topic 4: 1 small | 18 20 | 18 | 14 16 | 10 | 14 based | 18k | 1 blue | 1 black | 100 brand
Topic 5: 1 grey | 1 business | 120 | 1 black | 18k | 100 cotton | 130 | 1 8 | 1 pink | 12 5
Topic 6: 12 5 | 13 | 1 of | 130 | 10mm | 1 size | 1 4 | 15 inches | 13 inches | 14 based
Topic 7: 15 inches | 14 based | 1 item | 10mm | 17 | 18k | 1 4 | 10 no | 14g | 100 sure
Topic 8: 1 size | 10 12 | 14g surgical | 130 | 11 | 12 | 10mm | 14 based | 1 4 | 15 inches
Topic 9: 1 for | 15 | 14k | 10 worn | 18k | 14 based | 11 5 | 1 pair | 10 condition | 12 13
Topic 10: 18k | 14g | 14 based | 100 sure | 1 pink | 19 | 1 2 | 1 pair | 00 or | 100
Topic 11: 12 13 | 14 | 13 5 | 16 18 | 10 10 | 15 5 | 10 in | 16 5 | 14 based | 10mm
Topic 12: 100 | 1 25 | 14 5 | 10mm | 12 22 | 14 based | 1 | 1 business | 00 | 10 14
Topic 13: 11 12 | 1 3 | 1 free | 13 inches | 14 based | 18k | 1 x | 100 sure | 10 11 | 1 size
Topic 14: 1 black | 10 off | 100 rayon | 13 | 16 | 0 | 00 | 14 based | 18k | 1 x
Topic 15: 1 x | 1 business | 18k gold | 1 white | 10 14 | 10 condition | 14 based | 100 brand | 18k | 1
Topic 16: 1 time | 1 5 | 1 business | 0 | 13 14 | 10 and | 1 8 | 100 acrylic | 14 based | 130
Topic 17: 10 no | 00 | 0 12 | 1 inch | 14k yellow | 0 2 | 120 | 10 5 | 14 based | 10 condition
Topic 18: 00 off | 10 but | 10 spandex | 100 cotton | 12 14 | 12 22 | 16 | 14 based | 18 | 1
Topic 19: 10mm | 1 4 | 12 medium | 18k | 14 based | 15 inches | 15 5 | 1 | 00 or | 10 condition

In [7]:
cloth = cloth[:100000]
t = pd.DataFrame(tsne_tfidf,columns=['t1','t2'])
cloth = pd.concat([cloth,t],axis=1)
cloth.head()

,name,item_condition_id,category_name,brand_name,price,shipping,item_description,cat1,cat2,cat3,cat4,cat5,target,t1,t2
0,mlb cincinnati reds t shirt size xl,3,Men/Tops/T-shirts,4786,10.0,1,no description yet,554,859,827,950,950,-0.369464,-17.880766,-28.473066
1,ava-viv blouse,1,Women/Tops & Blouses/Blouse,4180,10.0,1,adorable top with a hint of lace and a key hol...,934,860,104,950,950,-0.369464,-5.985995,12.815629
2,24k gold plated rose,1,Women/Jewelry/Necklaces,4786,44.0,0,complete with certificate of authenticity,934,480,584,950,950,0.000978,-36.932770,4.726030
3,bundled items requested for ruie,3,Women/Other/Other,4786,59.0,0,"banana republic bottoms, candies skirt with ma...",934,609,609,950,950,0.076625,-41.921009,5.782502
4,acacia pacific tides santorini top,3,Women/Swimwear/Two-Piece,79,64.0,0,size small but straps slightly shortened to fi...,934,824,894,950,950,0.097672,31.219269,9.235429

In [8]:
# Maximum values
# Base on the histograms, we select the next lengths
MAX_NAME_SEQ = 10
MAX_ITEM_DESC_SEQ = 100
MAX_TEXT = 250
MAX_CATEGORY = np.max([np.max(cloth.cat1.max()), \
                       np.max(cloth.cat2.max()), \
                       np.max(cloth.cat3.max())])+3
MAX_BRAND = np.max([cloth.brand_name.max()])+1
MAX_CONDITION = np.max([cloth.item_condition_id.max()])+1

In [9]:
# EXTRACT DEVELOPTMENT TEST
dtrain, dvalid = train_test_split(cloth, random_state=123, train_size=0.99)
print(dtrain.shape)
print(dvalid.shape)

(99000, 15)
(1000, 15)

Since we are not focusing how to build a neural network, we use a neural network build by ‘noobhound’ from Kaggle. Special acknowledgement to ‘noobhound’, a contributor of Kaggle. We use his neural network model for training the embedded vectors.

In [10]:
# Input
def get_keras_data(dataset):
    X = {
        'brand_name': np.array(dataset.brand_name)
        ,'cat1': np.array(dataset.cat1)
        ,'cat2': np.array(dataset.cat2)
        ,'cat3': np.array(dataset.cat3)
        ,'item_condition': np.array(dataset.item_condition_id)
        ,'num_vars': np.array(dataset[["shipping"]])
        ,'t1': np.array(dataset[["t1"]])
        ,'t2': np.array(dataset[["t2"]])
    }
    return X

X_train = get_keras_data(dtrain)
X_valid = get_keras_data(dvalid)

In [11]:
# Neural Network 
def get_callbacks(filepath, patience=2):
    es = EarlyStopping('val_loss', patience=patience, mode="min")
    msave = ModelCheckpoint(filepath, save_best_only=True)
    return [es, msave]

def rmsle_cust(y_true, y_pred):
    first_log = K.log(K.clip(y_pred, K.epsilon(), None) + 1.)
    second_log = K.log(K.clip(y_true, K.epsilon(), None) + 1.)
    return K.sqrt(K.mean(K.square(first_log - second_log), axis=-1))

def get_model():

    # hyper parameters
    dr_r = 0.1
    
    # Inputs
    brand_name = Input(shape=[1], name="brand_name")
    cat1 = Input(shape=[1], name="cat1")
    cat2 = Input(shape=[1], name="cat2")
    cat3 = Input(shape=[1], name="cat3")
    item_condition = Input(shape=[1], name="item_condition")
    num_vars = Input(shape=[X_train["num_vars"].shape[1]], name="num_vars")
    t1 = Input(shape=[1], name="t1")
    t2 = Input(shape=[1], name="t2")
    
    # Embeddings layers
    emb_brand_name = Embedding(MAX_BRAND, 10)(brand_name)
    emb_cat1 = Embedding(MAX_CATEGORY, 10)(cat1)
    emb_cat2 = Embedding(MAX_CATEGORY, 10)(cat2)
    emb_cat3 = Embedding(MAX_CATEGORY, 10)(cat3)
    emb_item_condition = Embedding(MAX_CONDITION, 5)(item_condition)
    emb_t1 = Embedding(MAX_CATEGORY, 10)(t1)
    emb_t2 = Embedding(MAX_CATEGORY, 10)(t2)
    
    # main layer
    main_l = concatenate([
        Flatten() (emb_brand_name)
        , Flatten() (emb_cat1)
        , Flatten() (emb_cat2)
        , Flatten() (emb_cat3)
        , Flatten() (emb_item_condition)
        , num_vars
    ])
    main_l = Dropout(dr_r) (Dense(128) (main_l))
    main_l = Dropout(dr_r) (Dense(64) (main_l))
    
    # output
    output = Dense(1, activation="linear") (main_l)
    
    # model
    model = Model([brand_name, cat1, cat2, cat3, item_condition, \
                   num_vars, t1, t2], output)
    model.compile(loss="mse", optimizer="adam", metrics=["mae", rmsle_cust])
    
    return model

    
model = get_model()
model.summary()

__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
brand_name (InputLayer)         (None, 1)            0
__________________________________________________________________________________________________
cat1 (InputLayer)               (None, 1)            0
__________________________________________________________________________________________________
cat2 (InputLayer)               (None, 1)            0
__________________________________________________________________________________________________
cat3 (InputLayer)               (None, 1)            0
__________________________________________________________________________________________________
item_condition (InputLayer)     (None, 1)            0
__________________________________________________________________________________________________
embedding_1 (Embedding)         (None, 1, 10)        48090       brand_name[0][0]
__________________________________________________________________________________________________
embedding_2 (Embedding)         (None, 1, 10)        9440        cat1[0][0]
__________________________________________________________________________________________________
embedding_3 (Embedding)         (None, 1, 10)        9440        cat2[0][0]
__________________________________________________________________________________________________
embedding_4 (Embedding)         (None, 1, 10)        9440        cat3[0][0]
__________________________________________________________________________________________________
embedding_5 (Embedding)         (None, 1, 5)         30          item_condition[0][0]
__________________________________________________________________________________________________
flatten_1 (Flatten)             (None, 10)           0           embedding_1[0][0]
__________________________________________________________________________________________________
flatten_2 (Flatten)             (None, 10)           0           embedding_2[0][0]
__________________________________________________________________________________________________
flatten_3 (Flatten)             (None, 10)           0           embedding_3[0][0]
__________________________________________________________________________________________________
flatten_4 (Flatten)             (None, 10)           0           embedding_4[0][0]
__________________________________________________________________________________________________
flatten_5 (Flatten)             (None, 5)            0           embedding_5[0][0]
__________________________________________________________________________________________________
num_vars (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
concatenate_1 (Concatenate)     (None, 46)           0           flatten_1[0][0]
                                                                 flatten_2[0][0]
                                                                 flatten_3[0][0]
                                                                 flatten_4[0][0]
                                                                 flatten_5[0][0]
                                                                 num_vars[0][0]
__________________________________________________________________________________________________
dense_1 (Dense)                 (None, 128)          6016        concatenate_1[0][0]
__________________________________________________________________________________________________
dropout_1 (Dropout)             (None, 128)          0           dense_1[0][0]
__________________________________________________________________________________________________
dense_2 (Dense)                 (None, 64)           8256        dropout_1[0][0]
__________________________________________________________________________________________________
dropout_2 (Dropout)             (None, 64)           0           dense_2[0][0]
__________________________________________________________________________________________________
dense_3 (Dense)                 (None, 1)            65          dropout_2[0][0]
==================================================================================================
Total params: 90,777
Trainable params: 90,777
Non-trainable params: 0
__________________________________________________________________________________________________

In [12]:
BATCH_SIZE = 20000
epochs = 5

model = get_model()
model.fit(X_train, dtrain.target, epochs=epochs, batch_size=BATCH_SIZE
          , validation_data=(X_valid, dvalid.target)
          , verbose=1)

Train on 99000 samples, validate on 1000 samples
Epoch 1/5
99000/99000 [==============================] - 1s 6us/step - loss: 0.0541 - mean_absolute_error: 0.1887 - rmsle_cust: 0.0223 - val_loss: 0.0373 - val_mean_absolute_error: 0.1523 - val_rmsle_cust: 0.0205
Epoch 2/5
99000/99000 [==============================] - 0s 3us/step - loss: 0.0391 - mean_absolute_error: 0.1554 - rmsle_cust: 0.0197 - val_loss: 0.0347 - val_mean_absolute_error: 0.1444 - val_rmsle_cust: 0.0205
Epoch 3/5
99000/99000 [==============================] - 0s 3us/step - loss: 0.0363 - mean_absolute_error: 0.1457 - rmsle_cust: 0.0195 - val_loss: 0.0324 - val_mean_absolute_error: 0.1355 - val_rmsle_cust: 0.0205
Epoch 4/5
99000/99000 [==============================] - 0s 3us/step - loss: 0.0317 - mean_absolute_error: 0.1361 - rmsle_cust: 0.0195 - val_loss: 0.0276 - val_mean_absolute_error: 0.1285 - val_rmsle_cust: 0.0204
Epoch 5/5
99000/99000 [==============================] - 0s 3us/step - loss: 0.0291 - mean_absolute_error: 0.1328 - rmsle_cust: 0.0194 - val_loss: 0.0268 - val_mean_absolute_error: 0.1252 - val_rmsle_cust: 0.0201

In [13]:
def rmsle(y, y_pred):
    assert len(y) == len(y_pred)
    to_sum = [(math.log(y_pred[i] + 1) - math.log(y[i] + 1)) ** 2.0 for i,pred in enumerate(y_pred)]
    return (sum(to_sum) * (1.0/len(y))) ** 0.5
# Source: https://www.kaggle.com/marknagelberg/rmsle-function

val_preds = model.predict(X_valid)
val_preds = target_scaler.inverse_transform(val_preds)
val_preds = np.exp(val_preds)+1

y_true = np.array(dvalid.price.values)
y_pred = val_preds[:,0]
v_rmsle = rmsle(y_true, y_pred)

# print("RMSLE of training: ", score_train)
print("RMSLE of testing: ", v_rmsle)

RMSLE of testing:  0.6237763615129761

In [15]:
model.save('/mnt/disks/~/model3.h5')