In [1]:
import math
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
from sklearn import metrics
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_validate

/usr/local/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [4]:
train = pd.read_csv("~/Documents/10-100.csv",index_col=0)

/usr/local/lib/python3.6/site-packages/numpy/lib/arraysetops.py:463: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [6]:
print(train.shape)
train.head()

(1482535, 10)

,name,item_condition_id,category_name,brand_name,price,shipping,item_description,seq_item_description,seq_name,target
train_id,,,,,,,,,,
0,MLB Cincinnati Reds T Shirt Size XL,3,808,4786,10.0,1,No description yet,"[12, 68, 79]","[3852, 8823, 6896, 208, 84, 6, 155]",-0.369464
1,Razer BlackWidow Chroma Keyboard,3,86,3557,52.0,0,This keyboard is in great condition and works ...,"[29, 2627, 10, 7, 39, 17, 1, 207, 51, 19, 1113...","[10760, 25565, 16369, 2627]",0.044005
2,AVA-VIV Blouse,1,1254,4180,10.0,1,Adorable top with a hint of lace and a key hol...,"[604, 60, 9, 4, 5347, 11, 192, 1, 4, 886, 1290...","[7634, 10563, 666]",-0.369464
3,Leather Horse Statues,1,485,4786,35.0,1,New with tags. Leather horses. Retail for [rm]...,"[5, 9, 61, 178, 6528, 230, 3, 21, 166, 1085, 2...","[178, 2610, 14248]",-0.057699
4,24K GOLD plated rose,1,1181,4786,44.0,0,Complete with certificate of authenticity,"[807, 9, 6888, 11, 1997]","[4884, 104, 1032, 280]",0.000978

In [10]:
y = train[['target']]
X = train.drop(['price','target','name','item_description','seq_name','seq_item_description'],axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7)

In [11]:
print(X.shape)
X.head()

(1482535, 4)

          item_condition_id  category_name  brand_name  shipping
train_id
0                         3            808        4786         1
1                         3             86        3557         0
2                         1           1254        4180         1
3                         1            485        4786         1
4                         1           1181        4786         0

In [12]:
lr = LinearRegression()
lr.fit(X_train, y_train)
lr_pred = lr.predict(X_test)

/usr/local/lib/python3.6/site-packages/scipy/linalg/basic.py:1018: RuntimeWarning: internal gelsd driver lwork query error, required iwork dimension not returned. This is likely the result of LAPACK bug 0038, fixed in LAPACK 3.2.2 (released July 21, 2010). Falling back to 'gelss' driver.
  warnings.warn(mesg, RuntimeWarning)

In [13]:
rf = RandomForestRegressor(n_estimators=100, criterion='mse', max_depth=10, random_state=10)
rf.fit(X_train, y_train)
rf_pred = rf.predict(X_test)

/Users/CJL-RMBP/Library/Python/3.6/lib/python/site-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().