In [1]:
import gc
import pandas as pd
import numpy as np
from sklearn import preprocessing, decomposition
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# Label Encoding

In [2]:
ts = pd.read_csv('./training set/ts_raw.csv')

In [3]:
# Label Encoding for 'region'
state_code=["AK", "AL", "AR", "AZ", "CA", "CO", "CT", "DC", "DE", "FL", "GA", "HI",\
             "IA", "ID", "IL", "IN", "KS", "KY", "LA", "MA", "MD", "ME", "MI", "MN",\
             "MO", "MS",  "MT", "NC", "ND", "NE", "NH", "NJ", "NM", "NV", "NY", "OH",\
             "OK", "OR", "PA", "PR", "RI", "SC", "SD", "TN", "TX", "UT", "VA", "VT",\
             "WA", "WI", "WV", "WY"]
le_s = preprocessing.LabelEncoder()
le_s.fit(state_code)
ts['region'] = le_s.transform(ts['region'])

In [4]:
# Label Encoding for 'purpose'
purpose_code=['Debt Consolidation','Other','Credit Card',\
            'Home Improvement','Business','Car','Major Purchase',\
            'Moving and Relocation','Medical Expenses','Vacation',\
            'Renewable Energy','Wedding','Personal','Education',"WRONG"]
le_p = preprocessing.LabelEncoder()
le_p.fit(purpose_code)
ts['purpose'] = le_p.transform(ts['purpose'])

In [5]:
ts.head()

   loan_amnt  purpose    dti  emp_length  region  target
0     5000.0        2  27.65        10.0       3       1
1     2500.0        1   1.00         0.5      10       1
2     2400.0        0   8.72        10.0      14       1
3    10000.0        9  20.00        10.0       4       1
4     3000.0        9  17.94         1.0      37       1

In [6]:
ts.to_csv('./training set/ts_label.csv',index=None)

In [7]:
del ts
del le_s
del le_p
gc.collect()

153

# Binary Encoding

In [ ]:
ts = pd.read_csv('./training set/ts_raw.csv')
print(ts.shape)

(15648549, 6)

In [ ]:
# Binary Encoding for 'region'
lb_s = preprocessing.LabelBinarizer()
lb_s.fit(state_code)
lb_region = lb_s.transform(ts['region'])

In [ ]:
a = pd.DataFrame(lb_region,columns=state_code)
a.head()

In [ ]:
# Binary Encoding for 'purpose'
lb_p = preprocessing.LabelBinarizer()
lb_p.fit(purpose_code)
lb_purpose = lb_p.transform(ts['purpose'])

In [ ]:
b = pd.DataFrame(lb_purpose,columns=purpose_code)
b.head()

In [ ]:
# Form the new training set
ts = pd.concat([ts,a,b],axis=1)
del a
del b
del lb_s
del lb_p
gc.collect()

In [ ]:
ts = ts.drop(['purpose','region'],axis=1)
print(ts.shape)
ts.head()

In [ ]:
# PCA to transform sparse matrix into dense trainging set
pca = decomposition.PCA(n_components=10)
pca.fit(ts.drop('target',axis=1))

In [ ]:
target = ts['target']
pca.components_
# ts = pca.transform(ts.drop('target',axis=1))

In [20]:
ts = pd.DataFrame(ts)
ts.head()

,0,1,2,3,4,5,6,7,8,9
0,-8531.103432,26.412300,-4.208113,0.644649,-0.584831,0.293955,0.050284,-0.023059,-0.047573,-0.034558
1,-11031.103771,-1.363519,1.046172,0.385198,-0.083695,-0.290251,-0.534818,0.783438,-0.115223,-0.158897
2,-11131.103649,7.737913,-7.136833,0.319264,0.036634,-0.299519,-0.545911,-0.544710,-0.613754,-0.363240
3,-3531.103525,18.788688,-5.381524,0.629449,0.813786,0.245420,0.052374,0.004515,-0.010116,-0.001277
4,-10531.103575,15.440784,3.181493,0.720851,0.727019,0.256855,0.073229,0.006980,-0.017730,-0.018635

In [ ]:
del pca
gc.collect()

In [ ]:
ts.to_csv('ts_bin.csv',index=None)

# One-hot Encoding

In [ ]:
ts = pd.read_csv('clssification_ts.csv')

In [ ]:
# One-hot Encoding for 'region'
lb_s = preprocessing.LabelBinarizer()
lb_s.fit(state_code)
lb_region = lb_s.transform(ts['region'])

In [ ]:
lb_p = preprocessing.LabelBinarizer()
lb_p.fit(state_code)
lb_purpose = lb_p.transform(ts['purpose'])