In [2]:
import pickle
import requests
import json
import math
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
from sklearn import metrics
from sklearn.model_selection import cross_validate
from sklearn.cross_validation import train_test_split
from sklearn.ensemble import RandomForestRegressor
pd.set_option('display.max_columns', None)

/usr/local/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [12]:
ts = pd.read_csv('./Data/features_inter.csv')
X = ts.drop(['parcelid','logerror','Zestimate'], axis=1)
y = ts[['Zestimate']]
# Split data with 0.75
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
print (X_train.shape)
print (y_train.shape)
print (X_test.shape)
print (y_test.shape)

(123818, 8)
(123818, 1)
(41273, 8)
(41273, 1)

In [13]:
rf_best = RandomForestRegressor(n_estimators=5, criterion='mse', max_depth=5, random_state=10)
rf_best.fit(X_train, y_train)

/Users/CJL-RMBP/Library/Python/3.6/lib/python/site-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=5,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=5, n_jobs=1,
           oob_score=False, random_state=10, verbose=0, warm_start=False)

In [14]:
pickle.dump(rf_best, open('random_forest.pkl','wb'))
my_rf = pickle.load(open('random_forest.pkl','rb'))
my_rf

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=5,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=5, n_jobs=1,
           oob_score=False, random_state=10, verbose=0, warm_start=False)

In [15]:
X.head()

,finishedsquarefeet12,lotsizesquarefeet,taxamount,longitude,latitude,regionidzip,yearbuilt,month
0,1684.0,7528.0,6735.880000,-118.488536,34.280990,96370.0,1959.0,1
1,2263.0,3643.0,10153.020000,-117.677556,33.668120,96962.0,2014.0,1
2,2217.0,11423.0,5984.582647,-118.175032,34.136312,96293.0,1940.0,1
3,839.0,70859.0,3048.740000,-118.309000,33.755800,96222.0,1987.0,1
4,2283.0,6000.0,5488.960000,-117.700234,33.485643,96961.0,1981.0,1

In [16]:
url = 'http://localhost:5000/api'
data = json.dumps({'taxamount':5817,'longitude':-113.0,'latitude':33.0,\
                   'finishedsquarefeet12':5927,\
                   'lotsizesquarefeet':16028,'regionidzip':96293,\
                   'month':8,'yearbuilt':2013})

r = requests.post(url, data)
print(r.json())

{'results': [9057.474399972309]}